{% extends "Email/base.html.twig" %}

{% block body %}

	<p>Pour avtiver  votre compte , veuillez cliquez sur lien suivant</p>

	<a style="color: #e3a70c;" href="{{ url('app_activation_account', {token: user.token }) }}">{{ url('app_activation_account', {token: user.token}) }}</a>

{% endblock %}
