<!DOCTYPE html>
<html lang="en">
	<head></head>
	<body style="background-color: #212529; ">
		<main style="color: #e3a70c; width:60%; margin: 0 auto; padding: 10px; font-size: 22px; font-weight: 700">
			<p>Bonjour,
			</p>
			{% block body %}{% endblock %}
			<p>A très vite .</p>
			<p>{{company}}</p>
		</main>
	</body>
</html>
